/* board.module.css */

.board {
  display: grid;
  grid-template-columns: repeat(8, min(10vw, 70px));
  grid-template-rows: repeat(8, min(10vw, 70px));

  border-radius: 12px;
  overflow: hidden;

  user-select: none;
}

/* optional themes */
.dark {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.light {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}
